html {
  font-size: 75%;
  /* 12px */
}

html body {
  font-size: 1rem;
  /* 12px */
}

.input,
.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}

.input {
  width: 100%;
}

.textarea {
  display: block;
  line-height: 20px;
  min-height: 40px;
  max-height: 80px;
  overflow: auto;
  resize: none;
  width: 100%;
}

.textarea[contenteditable]:empty::before {
  content: 'Enter message';
  color: gray;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.root .chatContainer {
  -webkit-box-shadow: 7px 7px 5px 0px #5e5e5e;
  -moz-box-shadow: 7px 7px 5px 0px #5e5e5e;
  box-shadow: 7px 7px 5px 0px #5e5e5e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 80vh;
  padding: 15px 10px;
  width: 40%;
  min-width: 450px;
}

.root .chatContainer .title {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 0;
}

.root .chatContainer .username {
  display: flex;
  align-items: center;
  width: 100%;
}

.root .chatContainer .username span {
  font-size: 1.5rem;
  padding-right: 6px;
}

.root .chatContainer .messagesList {
  border: 1px solid grey;
  height: 100%;
  overflow: auto;
  margin: 10px 0;
  width: 100%;
}

.root .chatContainer .actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.root .chatContainer .actions .sendBtn {
  align-self: flex-end;
  height: min-content;
  width: max-content;
}
